# Data folders
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

.env
/.idea/.gitignore
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/args.json
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/config.json
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_0_test_gab.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_0_test_nyt.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_0_test_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_0_test_ws.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_200_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_400_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_600_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_800_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_1000_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_1200_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_1400_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_1600_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_1800_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_2000_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_2200_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_2400_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_2600_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_2800_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_details_3000_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_0_test_gab.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_0_test_nyt.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_0_test_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_0_test_ws.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_200_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_400_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_600_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_800_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_1000_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_1200_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_1400_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_1600_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_1800_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_2000_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_2200_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_2400_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_2600_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_2800_dev_twitter.txt
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/eval_results_3000_dev_twitter.txt
/notebooks/evaluate_context_results.ipynb
/notebooks/evaluate_models.ipynb
/.idea/HateSpeech.iml
/.idea/HateSpeech-HALEVYM-SURFACEBOOK.iml
/src/existing_models/hate-speech-and-offensive-language-master/ICWSM_poster.pdf
/src/twitteraae/LICENSE
/.idea/misc.xml
/.idea/modules.xml
/notebooks/nyt_corpus-HALEVYM-SURFACEBOOK.ipynb
/.idea/other.xml
/notebooks/predict_demographic-HALEVYM-SURFACEBOOK.ipynb
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/Project_Default-HALEVYM-SURFACEBOOK.xml
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/pytorch_model.bin
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/pytorch_model_checkpoint.zip
/.idea/libraries/R_User_Library.xml
/src/twitteraae/README.md
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/results_agg_11_01_2020.csv
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/temp.tmp
/.idea/vcs.xml
/src/existing_models/contextualizing-hate-speech-models-with-explanations-master/runs/twitter_es_reg_nb5_h5_is_bal_pos_seed_9/vocab.txt
/.idea/workspace-HALEVYM-SURFACEBOOK.xml
