# Data folders
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

.env
/.idea/.gitignore
/src/existing_models/contextual-hsd-expl/runs/*
/.idea/HateSpeech.iml
/.idea/HateSpeech-HALEVYM-SURFACEBOOK.iml
/src/existing_models/hate-speech-and-offensive-language-master/ICWSM_poster.pdf
/src/twitteraae/LICENSE
/.idea/misc.xml
/.idea/modules.xml
/notebooks/nyt_corpus-HALEVYM-SURFACEBOOK.ipynb
/.idea/other.xml
/notebooks/predict_demographic-HALEVYM-SURFACEBOOK.ipynb
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/Project_Default-HALEVYM-SURFACEBOOK.xml
/.idea/libraries/R_User_Library.xml
/src/twitteraae/README.md
/.idea/vcs.xml
/.idea/workspace-HALEVYM-SURFACEBOOK.xml
/models/glove/
